@*@model alexyap1205info.ViewModels.Home.HomePageVM*@

@section scripts
{
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/HomePage.js" type="text/javascript"></script>
    @*<script type="text/javascript">
        $(function () {
            $("[data-toggle = 'tooltip']").tooltip();
        });
    </script>*@
}


@{
    ViewBag.Title = "Profile";
}


<div class="jumbotron">
    <h2>Overview</h2>
    <br/>
    <p class="lead" id="Summary"></p>
    <br/>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>General Skills</h2>
        <ul id="generalSkills">

        </ul>
    </div>
    <div class="col-md-4">
        <h2>Technical Skills</h2>
        <ul id="technicalSkills">
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Other Skills</h2>
        <ul id="otherSkills">
        </ul>
    </div>
</div>